<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link rel="stylesheet" href="/css/about.css">
<div id="about">
<div class="section1">
    <div id="container">
        <div class="row wow animate__animated service-container-row animate__bounceInLeft" data-wow-offset="150">
            <h2>About Imran's IT Zone</h2>
            <p>Imran's IT Zone provides end-to-end credential management solutions for government and state agencies. It combines state of the art solution design, robust back-end systems with efficient project management in a single turnkey solution for national IT infrastructure undertakings.</p>
            <p>Imran's IT Zone solutions range from National ID, Voter Registration, e-Passports, Border Control, Driving License to Vehicle registration and tracking. In addition, Imran's IT Zone provides highly specialized system integration of 3rd party hardware/software with legacy systems, including identity governance, Enterprise Single Sign-On, identity and access management solutions to large organizations like banks, telecom companies and multinational companies.</p>
        </div>
        <div class="row wow animate__animated service-container-row animate__bounceInRight" data-wow-offset="150"">
            <h2 style="color: #F29821;">1+ Years of Experience</h2>
            <p style="text-align: center;">in Web Development, Video Editing, Graphics Design & SEO</p>
            <h2 style="color: #F29821;">Extensive Expertise</h2>
            <p style="text-align: center;">with Large Population Datasets</p>
            <h2 style="color: #F29821;">Highly Skilled</h2>
            <p style="text-align: center;">Professionals Worldwide</p>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();
</script>