<%-include ('header')%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/css/career.css">
<div class="container-career">
    <h1>Our Team</h1>
</div>
<h2 style="text-align: center;padding: 20px;font-size: 30px;">Our Members</h2>
<div class="career-section">
    <div class="career-inner-section">
        <div class="career-item">
            <div class="img-section"><img src="/img/profile.png" alt="Profile"></div>
            <h2>MD IMRAN SHEIKH</h2>
            <h3>Web Developer</h3>
            <div class="contact-item">
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-linkedin"></i></li>
                </ul>

            </div>
        </div>
        <div class="career-item">
            <div class="img-section"><img src="/img/profile.png" alt="Profile"></div>
            <h2>MD OVI</h2>
            <h3>SEO Expert</h3>
            <div class="contact-item">
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-linkedin"></i></li>
                </ul>

            </div>
        </div>
        <div class="career-item">
            <div class="img-section"><img src="/img/profile.png" alt="Profile"></div>
            <h2>Faruk Ahmed</h2>
            <h3>Motion Video Editor</h3>
            <div class="contact-item">
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-linkedin"></i></li>
                </ul>

            </div>
        </div>
        <div class="career-item">
            <div class="img-section"><img src="/img/profile.png" alt="Profile"></div>
            <h2>Assaduzzaman Nur</h2>
            <h3>Graphics Designer</h3>
            <div class="contact-item">
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-linkedin"></i></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<h2 id="career-btn">Are You interested to join with us please contact with us</h2>
<h3 id="btn-two"><!-- HTML !-->
    <button class="button-36" role="button">Book a Call</button>
   </h3>

<!-- End Career Section -->
<%-include ('footer')%>