<link rel="stylesheet" href="/css/footer.css">
<div class="footer">
    <div class="footer-section">
        <div class="footer-about-compnay">
            <div class="bannar"><img src="/img/service/1.jpg" alt=""></div>
            <h2 style="color: white;">Imran's IT Zone</h2>
            <p>Imran's IT Zone provides end-to-end credential management solutions for government and state agencies. It combines state of the art solution design, robust back-end systems with efficient project management in a single turnkey solution for national IT infrastructure undertakings.</p>
           
        </div>
        <div class="footer-nav-section">
            <div class="footer-nav-row">
                <h3>Company</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Carrer's</a></li>
                    <li><a href="#">Our Team</a></li>
                    
                   
                    
                </ul>

            </div>
            <div class="footer-nav-row">
                <h3>Resources</h3>
                <ul> 
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Case study</a></li>
              
                </ul>

            </div>
            <div class="footer-nav-row">
                <h3>Services</h3>
                <ul> 
                    <li><a href="#">Web Tech</a></li>
                    <li><a href="#">Video & Graphics</a></li>
                    <li><a href="#">IT Solutions</a></li>
              
                </ul>
            </div>
            <div class="footer-nav-row">
                <h3>Social</h3>
                <ul> 
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instragram</a></li>
                    <li><a href="#">Linkedin</a></li>

              
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <hr>
        
    </div>
    <script>
        let year =new Date().getFullYear();
    </script>
    <h4 >&#169;<script>document.write(`${year}`)</script> Imran's IT Zone. All rights reserved.</h4>
</div>

