<link rel="stylesheet" href="/css/section.css">
<div id="section">
<div class="container">
    <h1>Are You Searching <span class="example"></span></h1>
    <h2><input type="button" class="custom_btn" value="Let's talk"></h2>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
var typed = new Typed('.example', {
  strings: ["Web Designer ?", "Web Developer ?","Video Editor ?", "Graphics Designer ?","SEO Expert ?"],
  typeSpeed: 80,
  backSpeed:100,
  showCursor: true,
  cursorChar: '|',
  loop: true,
  loopCount: Infinity,
  smartBackspace: true,

}).init();

</script>

