<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link rel="stylesheet" href="/css/service.css">
<h2   id="service"><%= s_title %></h2>
<div  id="service-container">
    <div class="wow animate__animated service-container-row animate__bounceInLeft" data-wow-offset="150">
        <div class="img">
            <div class="overlay overlay_5">

                <h2 class="textColor">Web Development</h2>
                <h3><button>Book a Call</button></h3>
               </div>
            <img src="/img/service/1.jpg" alt="Web_services">
           
        </div>
    </div>

    <div class="  service-container-row">
        <div class="img">
            <div class="overlay overlay_5">

                <h2 class="textColor">Web Design</h2>
                <h3><button>Book a Call</button></h3>
               </div>
            <img src="/img/service/2.jpg" alt="Service_web_design">
           
        </div>
    </div>
    <div class="wow animate__animated service-container-row animate__bounceInRight" data-wow-offset="150">
        <div class="img">
            <div class="overlay overlay_5">

                <h2 class="textColor">SEO Service</h2>
                <h3><button>Book a Call</button></h3>
               </div>
            <img src="/img/service/3.jpg" alt="SEO_SERVICE">
           
        </div>
    </div>
    <div class="wow animate__animated service-container-row animate__bounceInLeft" data-wow-offset="150">
        <div class="img">
            <div class="overlay overlay_5">

                <h2 class="textColor">Video Editing</h2>
                <h3><button >Book a Call</button></h3>
               </div>
            <img src="/img/service/4.jpg" alt="Video_Editing_service">
           
        </div>
    </div>
    <div class=" service-container-row ">
        <div class="img">
            <div class="overlay overlay_5">

                <h2 class="textColor">Graphics Design</h2>
                <h3><button>Book a Call</button></h3>
               </div>
            <img src="/img/service/5.png" alt="Graphics_Service">
           
        </div>
    </div>
    <div class="wow animate__animated service-container-row animate__bounceInRight" data-wow-offset="150">
        <div class="img">
            <div class="overlay overlay_5">

                <h2 class="textColor">Affiliate Marketing</h2>
                <h3><button>Book a Call</button></h3>
               </div>
            <img src="/img/service/6.jpg" alt="Service_affiliate">
           
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<h2 style="text-align: center;
padding: 20px;
font-size: 32px;
background: -webkit-linear-gradient(#00DBDE , #FC00FF);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;">Our Brand Partners</h2>
